.RightSidebar {
    margin-top: 16%;
    margin-left: 10px;
    margin-right: -30%;
  }

.Right_td{
  border: none;
}

.Right_span{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.AdBtn {
  height: 300px;
  width: 210px;
  border-radius: none;
  border: none;
  background-color: #F4F4F5;
  bottom: 20px; /* 하단 여백 조정 */
  position: absolute;
  transform: translateX(-50%); /* 수평 가운데 정렬을 위한 이동 */
  right: 280px;
}


.AdImg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
