.RightSidebar {
    margin-top: 16%;
    margin-left: 10px;
    margin-right: -30%;
  }

.Right_td{
  border: none;
}

.Right_span{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
