.scrollableDiv {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: white;
  }
  
  .scrollableDiv::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .scrollableDiv::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;  /* 스크롤바의 모서리를 둥글게 설정 */

  }
  
  .scrollableDiv::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .scrollableDiv::-webkit-scrollbar {
    width: 1px;  /* 스크롤바의 굵기를 2px로 설정 */
    height: 5px;
  }
  
  .video{
    margin-right: 20px;
    width: 200px;
  }

  .video-img{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
  }

   .video-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   }